@font-face {
    font-family: Raleway;
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('font/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('font/Raleway-Bold.ttf');
}
