
/* Old Theme */

/* .dark {
    background-color: rgba(34, 42, 54, 1);
} 

.dark_light {
    background-color: rgba(34, 42, 54, 0.95);
}  */

/* .brown {
    background-color: #313245;
} */

.dark {
    background-color: rgba(0, 0, 0, 1);
} 

.dark_light {
    background-color: rgba(0, 0, 0, 0.95);
} 

.purple {
    background-color: #676CDB;
}



.brown {
    background-color: #0A0A12;
}