html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #ffffff;
  font-family: "Raleway",Arial, Helvetica, sans-serif;
  font-size: 16px;
}


/* * {border: 1px solid red;} */

h1, h2 {
  margin: 0;
}

#home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#home_image {
  flex: 1;
  background-image: url('../images/home_image.webp');
  background-size: cover;
  background-position: 80%;
  height: 100%;
}

.home_bar {
  width: 40px;
  height: 100%;
}

#home_content {
  padding: 1% 10% 0 2%;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
  width: 100%;
}

.navbar {
  width: 70%;
  font-family: "Raleway-SemiBold",Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: block;
  text-align: center;
  font-size: 1em;
}
.nav-item {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Adjust the value as needed */
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color:white; /* Adjust the color as needed */
  transition: width 0.3s ease; /* Adjust the transition duration as needed */
}

.nav-item:hover::after {
  width: 100%;
}




.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  cursor: pointer; /* Change cursor style to pointer on hover */
}



h1 {
  font-family: "Raleway-Bold",Arial, Helvetica, sans-serif;
  font-size: 6em;
}

#home_intro p{
  padding-right: 30%;
  font-family: "Raleway-SemiBold",Arial, Helvetica, sans-serif;
  font-size: 2em;
}



#contact, #testimonial, #blog, #work{
  padding: 10% 5% 15% 5%;
}

#about {
  padding: 0% 5% 0 5%;
  padding-top: 4%;
  padding-bottom: 8%;
}

h2 {
  font-family: "Raleway-SemiBold",Arial, Helvetica, sans-serif;
  font-size: 4em;
}

#about p{
  font-family: "Raleway-Medium",Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding-right: 30%;
}

#title_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile_pic {
  width: 30%;
  clip-path: circle(35% at center);
}

.hr_bar {
  height: 40px;
}


#work h2,
#testimonial h2,
#blog h2,
#contact h2 {
  text-align: center;
  margin: 0 0 10% 0;
}


#work_container {

  display: grid;
  padding: 0 10% 0 10%;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

.work_box {
  width: 250px;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #676CDB;
  transition: background-color 0.5s ease-out;
}

.work_box:hover {
  border: 2px solid #9599eb;
  background-color: rgba(61, 73, 92, 0.95);
}




#testimonial_container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.testimonial_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.testimonial_bar {
  width: 20px;
}
.testimonial {
  border: 1px solid #676CDB;
  display: flex;
}

.testimonial img {
  width: 150px;
  clip-path: circle(32% at center);
}

.testimonial h4 {
  color: #676CDB;
  font-size: 1.2em;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}


#blog_container {
  height: 40em; /* Set the desired height of the container */
  overflow: auto; /* Enable scrolling when content exceeds container height */
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 10px #676CDB;
  padding: 1%;
}

.blog {
  border: 1px solid #676CDB;
  background-color: rgba(34, 42, 54, 1);
  padding: 10px;
  margin-bottom: 1%;
  display: flex;
  align-items: top;
}

.image_blog {
  flex-shrink: 0;
  margin-right: 10px;
  width: 25em;
}

.text_blog {
  flex-grow: 1;
}

.heading_blog {
  font-family: "Raleway-SemiBold",Arial, Helvetica, sans-serif;
  color: #676CDB;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

cite {
  font-family: "Raleway-Medium",Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;

}

.paragraph_blog {
  width: 70%;
  font-size: 1em;
  font-family: "Raleway",Arial, Helvetica, sans-serif;
}

.read_more_blog {
  color: #676CDB;
  font-family: "Raleway-Medium",Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: none;
}
